header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100
    5;
    height: 60px;
    background-color: black;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: #f607f6;
    font-weight: bold;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background: white;
    padding: 5px 14px;
    color: black;
    border-radius: 4px;

}